body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.stopwatch {
  text-align: center;
  background-color: black;
  border-radius: 15px;
}

.time {
  font-size: 100px;
  color: white;
  }

button {
  font-size: 20px;
  padding: 5px;
  margin: 16px 100px;
  width: 70px;
  border-radius: 30px;
  color: green;
}

.laps {
  color: white;
  list-style-type: none;
  padding: 0 70px;
  font-size: 20px;
}

.laps-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}